.app {
  min-height: 100vh;
  background-color: #000;
}

.main-content {
  padding-top: 72px;
}

.categories-section {
  padding-top: 38px;
}

.gallery-header {
  padding: 32px 40px 0;
}

.gallery-title {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
